#searchResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.searchResult {
  display: flex;
  align-items: center;
  width: 20em;
  margin: 5px;
}

.greyHeading {
  font-size: 1rem;
  color: rgba(0,0,0,.5);
  font-weight: 500;
}
